{% extends "base.html.twig" %}

{% block body %}

<h1 class="is-size-5 has-text-centered">Pour supprimer ou editer, cliquer sur la recette qui vous intéresse sur la page "Lister"</h1>


<p id="in">blabla</p>


<script src="js/test.js"></script>

{% endblock %}